In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [ ]:
# specify the url
url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=1&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'

# query the website and return the html to the variable ‘page’
page = requests.get(url)

# parse the html using beautiful soup and store in variable `soup`
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:

# find the table 
table = soup.find('table')

# get all the rows of the table
table_rows = table.find_all('tr')

In [ ]:
# print(table)

In [ ]:
# loop through each row and get the text
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

[]
[' 312954504', 'Mick Rawcliffe', 'Prohibition Notice Immediate', '05/11/2022', 'Bradford', 'DEVELOPMENT BUILDING PROJECTS']
[' 312939766', 'Richard Bell', 'Prohibition Notice Immediate', '04/11/2022', 'Darlington', 'DEVELOPMENT BUILDING PROJECTS']
[' 312940053', 'Palick Limited', 'Improvement Notice', '04/11/2022', 'Newcastle-under-Lyme', 'MF OF WOODEN CONTAINERS']
[' 312940097', 'Fujifilm Imaging Colorants Limited', 'Improvement Notice', '04/11/2022', 'Falkirk UA', 'MF CHEMICAL PRODUCTS NEC']
[' 312940715', 'Blaze Signs Limited', 'Improvement Notice', '04/11/2022', 'Birmingham', 'OTHER MANUFACTURING NEC']
[' 312940739', 'Blaze Signs Limited', 'Improvement Notice', '04/11/2022', 'Birmingham', 'OTHER MANUFACTURING NEC']
[' 312940873', 'D T Gittins', 'Prohibition Notice Immediate', '04/11/2022', 'Shropshire UA', 'GROW CEREALS/LEGUMES/OIL SEEDS']
[' 312941236', 'Tayquest Limited', 'Improvement Notice', '04/11/2022', 'Glasgow UA', 'GLAZING']
[' 312941649', 'Crafty Pig Designs Limited', 'Improvement Notice', '04/11/2022', 'Fylde', 'MF CERAMIC HHOLD/ORNAMENTAL']
[' 312941662', 'Crafty Pig Designs Limited', 'Improvement Notice', '04/11/2022', 'Fylde', 'MF CERAMIC HHOLD/ORNAMENTAL']
[]

In [ ]:
#Let's get the table from first 20 pages  

# Create empty list to store data
data = []

# Loop through pages
for page_number in range(1, 20):
    # Get HTML from page
    url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=' +str(page_number) +'&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'
    print(url)
    response = requests.get(url)
    #html = response.content
    
    # Parse HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Get table
    table = soup.find('table')
    
    # Get table rows
    rows = table.find_all('tr')
    
    # Loop through rows
    for row in rows:
        # Get row data
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    # Pause for 4 seconds
    time.sleep(10)

    # print(data)


# Create data frame
df = pd.DataFrame(data)

# Print data frame
# print(df)

https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=1&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS

KeyboardInterrupt: ignored

In [ ]:
# Export the dataframe with first 20 pages to csv
df.to_csv('HSE_enforcement_notices_public.csv', index=False)

In [ ]:
#Let's get the table from next 80 pages  

# Create empty list to store data
data = []

# Loop through pages
for page_number in range(20, 100):
    # Get HTML from page
    url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=' +str(page_number) +'&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'
    print(url)
    response = requests.get(url)
    #html = response.content
    
    # Parse HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Get table
    table = soup.find('table')
    
    # Get table rows
    rows = table.find_all('tr')
    
    # Loop through rows
    for row in rows:
        # Get row data
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    # Pause for 4 seconds
    time.sleep(15)

    # print(data)


# Create data frame
df = pd.DataFrame(data)

# Print data frame
# print(df)

https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=20&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=21&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=22&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=23&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=24&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=25&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=26&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=27&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=28&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=29&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=30&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=31&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=32&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=33&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=34&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=35&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=36&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=37&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=38&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=39&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=40&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=41&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=42&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=43&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=44&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=45&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=46&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=47&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=48&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=49&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=50&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=51&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=52&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=53&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=54&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=55&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=56&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS

AttributeError: ignored

In [ ]:
# print(df)
# We scraped 227 rows of data before the scrape died
# We scraped upto page 55

# Export the dataframe with pages 21 to 55 to csv
df.to_csv('HSE_enforcement_notices_public_21_to_55.csv', index=False)

In [ ]:
#Let's get the table from next pages

# Create empty list to store data
data = []

# Loop through pages
for page_number in range(55, 100):
    # Get HTML from page
    url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=' +str(page_number) +'&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'
    print(url)
    response = requests.get(url)
    #html = response.content
    
    # Parse HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Get table
    table = soup.find('table')
    
    # Get table rows
    rows = table.find_all('tr')
    
    # Loop through rows
    for row in rows:
        # Get row data
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    # Pause for 4 seconds
    time.sleep(30)

    # print(data)


# Create data frame
df = pd.DataFrame(data)

# Print data frame
# print(df)

# Export the dataframe with pages 55 to 100 to csv
df.to_csv('HSE_enforcement_notices_public_56_to_100.csv', index=False)

https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=55&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=56&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=57&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=58&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=59&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=60&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=61&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=62&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=63&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=64&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=65&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=66&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=67&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=68&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=69&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=70&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=71&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=72&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=73&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=74&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=75&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=76&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=77&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=78&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=79&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=80&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=81&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=82&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=83&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=84&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=85&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=86&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=87&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=88&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=89&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=90&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=91&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=92&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=93&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=94&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=95&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=96&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=97&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=98&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=99&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS

In [ ]:
#Let's get the table from all pages  

# Create empty list to store data
data = []

# Setting count to 0 for pausing after 20 pages
count = 0

# Loop through pages
for page_number in range(1, 3322):
    # Get HTML from page
    url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=' +str(page_number) +'&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'
    print(url)
    response = requests.get(url)
    #html = response.content
    
    # Parse HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Get table
    table = soup.find('table')
    
    # Get table rows
    rows = table.find_all('tr')
    
    # Loop through rows
    for row in rows:
        # Get row data
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    # Pause for 30 seconds after each page
    time.sleep(30)

    # Pause for additional 60 seconds after 20 pages
    count +=1 
    if count == 20:
        count = 0
        time.sleep(60)


# Create data frame
df = pd.DataFrame(data)


# Export the dataframe with pages all pages to csv
df.to_csv('HSE_enforcement_notices_public_all.csv', index=False)

https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=1&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=2&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=3&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=4&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=5&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=6&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=7&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=8&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=9&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=10&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=11&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=12&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=13&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=14&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=15&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=16&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=17&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=18&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=19&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=20&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=21&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=22&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=23&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=24&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=25&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=26&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=27&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=28&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=29&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=30&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=31&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=32&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=33&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=34&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=35&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=36&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=37&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=38&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=39&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=40&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=41&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=42&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=43&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=44&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=45&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=46&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=47&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=48&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=49&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=50&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=51&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=52&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=53&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=54&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=55&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=56&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=57&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=58&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=59&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=60&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=61&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=62&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=63&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=64&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=65&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=66&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=67&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=68&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=69&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=70&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=71&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=72&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=73&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=74&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=75&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=76&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=77&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=78&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=79&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=80&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=81&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=82&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=83&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=84&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=85&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=86&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=87&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=88&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=89&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=90&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=91&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=92&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=93&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=94&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=95&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=96&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=97&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=98&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=99&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=100&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=101&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=102&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=103&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=104&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=105&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=106&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=107&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=108&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=109&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=110&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=111&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=112&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=113&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=114&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=115&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=116&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=117&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=118&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=119&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=120&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=121&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=122&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=123&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=124&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=125&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=126&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=127&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=128&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=129&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=130&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=131&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=132&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=133&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=134&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=135&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=136&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=137&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=138&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=139&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=140&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=141&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=142&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=143&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=144&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=145&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=146&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=147&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=148&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=149&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=150&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=151&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=152&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=153&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=154&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=155&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=156&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=157&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=158&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=159&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=160&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=161&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=162&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=163&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=164&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=165&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=166&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=167&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=168&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=169&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS
https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=170&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS

# Scraping with Pandas

In [ ]:
import pandas as pd

url = 'https://www.ffiec.gov/census/report.aspx?year=2020&state=01&report=demographic&msa=11500'
tables = pd.read_html(url)
df = tables[-1]
df.to_csv('my data.csv')
df

HTTPError: ignored

In [ ]:
import requests
import pandas as pd

url = 'https://www.ffiec.gov/census/report.aspx?year=2020&state=01&report=demographic&msa=11500'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[-1]
df.to_csv('my data.csv')
df

,County Code,Tract Code,Tract Income Level,Distressed or Under -served Tract,Tract Median Family Income %,2020 FFIEC Est. MSA/MD non-MSA/MD Median Family Income,2020 Est. Tract Median Family Income,2015 Tract Median Family Income,Tract Population,Tract Minority %,Minority Population,Owner Occupied Units,1- to 4- Family Units
0,15,2.00,Moderate,No,55.76,"$61,500","$34,292","$29,167",3358,62.30,2092,706,1568
1,15,3.00,Low,No,28.25,"$61,500","$17,374","$14,778",2444,79.75,1949,401,1354
2,15,4.00,Moderate,No,67.21,"$61,500","$41,334","$35,156",2469,72.26,1784,653,1356
3,15,5.00,Low,No,36.34,"$61,500","$22,349","$19,009",1517,94.40,1432,321,958
4,15,6.00,Low,No,23.22,"$61,500","$14,280","$12,146",1958,78.24,1532,261,656
5,15,7.00,Moderate,No,62.03,"$61,500","$38,148","$32,443",2785,50.84,1416,539,1112
6,15,8.00,Moderate,No,56.99,"$61,500","$35,049","$29,808",1302,50.61,659,194,581
7,15,9.00,Upper,No,126.09,"$61,500","$77,545","$65,948",3810,37.80,1440,1100,1560
8,15,10.00,Middle,No,107.01,"$61,500","$65,811","$55,969",6093,34.04,2074,1816,2320
9,15,11.00,Middle,No,108.52,"$61,500","$66,740","$56,760",6781,25.97,1761,1868,2785
10,15,12.01,Moderate,No,75.08,"$61,500","$46,174","$39,271",3300,47.52,1568,608,1319
11,15,12.02,Upper,No,122.82,"$61,500","$75,534","$64,239",3873,24.06,932,1229,1705
12,15,13.00,Middle,No,85.13,"$61,500","$52,355","$44,526",2251,4.49,101,590,1018
13,15,14.00,Middle,No,84.62,"$61,500","$52,041","$44,258",3354,29.01,973,1150,1663
14,15,15.00,Middle,No,96.13,"$61,500","$59,120","$50,278",5075,15.59,791,1292,2134
15,15,16.00,Moderate,No,73.26,"$61,500","$45,055","$38,317",3599,20.78,748,901,1565
16,15,17.00,Middle,No,117.56,"$61,500","$72,299","$61,484",6869,40.28,2767,2131,2597
17,15,18.00,Middle,No,101.55,"$61,500","$62,453","$53,113",6488,20.25,1314,1977,3049
18,15,20.00,Middle,No,114.76,"$61,500","$70,577","$60,023",7063,7.33,518,2144,2915
19,15,21.01,Unknown,No,0.00,"$61,500",$0,$0,3778,40.47,1529,149,758
20,15,21.02,Middle,No,115.34,"$61,500","$70,934","$60,326",3315,13.24,439,914,1403
21,15,21.03,Middle,No,90.47,"$61,500","$55,639","$47,318",7222,25.53,1844,1428,2577
22,15,22.00,Middle,No,90.24,"$61,500","$55,498","$47,200",3374,7.77,262,1060,1760
23,15,23.00,Moderate,No,68.34,"$61,500","$42,029","$35,746",3605,19.42,700,1130,1882
24,15,24.00,Upper,No,127.68,"$61,500","$78,523","$66,779",4388,0.80,35,1365,1893
25,15,25.01,Middle,No,118.15,"$61,500","$72,662","$61,795",7374,5.52,407,2315,2890
26,15,25.02,Middle,No,104.35,"$61,500","$64,175","$54,577",4439,5.09,226,1410,1978
27,15,26.00,Middle,No,114.75,"$61,500","$70,571","$60,018",4760,3.59,171,1523,2109
28,15,9819.01,Unknown,No,0.00,"$61,500",$0,$0,4,0.00,0,4,4
29,15,9819.02,Unknown,No,0.00,"$61,500",$0,$0,0,0.00,0,0,0
30,15,9819.03,Unknown,No,0.00,"$61,500",$0,$0,0,0.00,0,0,0

In [ ]:
print(f'Total tables: {len(df_list)}')

Total tables: 7

In [ ]:
print(df_list[5])

                                                   0
0  Demographic (PDF) Income (PDF) Population (PDF...

In [ ]:
df_list = pd.read_html(html)
len(df_list)
df_list[6]
df_list[-1]
# df_list[-1] and df_list[6] return the same table. -1 means last table available.

,County Code,Tract Code,Tract Income Level,Distressed or Under -served Tract,Tract Median Family Income %,2011 HUD Est. MSA/MD non-MSA/MD Median Family Income,2011 Est. Tract Median Family Income,2000 Tract Median Family Income,Tract Population,Tract Minority %,Minority Population,Owner Occupied Units,1- to 4- Family Units
0,15,1.00,Moderate,No,74.23,"$51,500","$38,228","$29,615",2279,45.77,1043,431,894
1,15,2.00,Middle,No,86.40,"$51,500","$44,496","$34,468",3084,42.44,1309,881,1543
2,15,3.00,Moderate,No,59.27,"$51,500","$30,524","$23,644",3545,78.87,2796,637,1562
3,15,4.00,Moderate,No,76.24,"$51,500","$39,264","$30,417",2777,59.42,1650,908,1335
4,15,5.00,Low,No,40.54,"$51,500","$20,878","$16,172",2372,93.55,2219,597,1306
5,15,6.00,Low,No,30.36,"$51,500","$15,635","$12,113",2439,77.74,1896,363,736
6,15,8.00,Moderate,No,72.62,"$51,500","$37,399","$28,971",1475,55.05,812,293,674
7,15,9.00,Upper,No,147.52,"$51,500","$75,973","$58,854",3705,16.22,601,1214,1606
8,15,10.00,Upper,No,142.34,"$51,500","$73,305","$56,786",5538,15.98,885,1660,2226
9,15,11.00,Upper,No,122.20,"$51,500","$62,933","$48,750",6096,16.44,1002,1667,2398
10,15,12.00,Middle,No,101.99,"$51,500","$52,525","$40,688",7545,22.29,1682,2219,3155
11,15,13.00,Moderate,No,71.07,"$51,500","$36,601","$28,355",2481,4.51,112,763,1187
12,15,14.00,Middle,No,92.76,"$51,500","$47,771","$37,005",3545,23.30,826,1166,1581
13,15,15.00,Middle,No,100.88,"$51,500","$51,953","$40,247",5471,8.59,470,1839,2311
14,15,16.00,Middle,No,92.93,"$51,500","$47,859","$37,074",3822,11.09,424,1199,1756
15,15,17.00,Upper,No,121.62,"$51,500","$62,634","$48,520",6530,19.91,1300,2091,2651
16,15,18.00,Middle,No,101.16,"$51,500","$52,097","$40,359",6653,12.63,840,2087,2894
17,15,19.00,Middle,No,97.13,"$51,500","$50,022","$38,750",19,15.79,3,5,446
18,15,20.00,Middle,No,101.02,"$51,500","$52,025","$40,302",5539,6.32,350,1815,2321
19,15,21.01,Low,No,42.57,"$51,500","$21,924","$16,985",2637,30.94,816,199,570
20,15,21.02,Upper,No,167.87,"$51,500","$86,453","$66,970",2651,13.43,356,868,1145
21,15,21.03,Middle,No,92.01,"$51,500","$47,385","$36,708",4569,25.52,1166,947,1759
22,15,22.00,Middle,No,94.29,"$51,500","$48,559","$37,618",3784,4.97,188,1286,1752
23,15,23.00,Moderate,No,75.40,"$51,500","$38,831","$30,081",4043,15.38,622,1206,1877
24,15,24.00,Middle,No,103.82,"$51,500","$53,467","$41,417",4357,4.50,196,1447,1807
25,15,25.01,Middle,No,114.30,"$51,500","$58,865","$45,600",6635,9.25,614,2132,2684
26,15,25.02,Middle,No,95.27,"$51,500","$49,064","$38,008",4395,3.89,171,1462,1844
27,15,26.00,Middle,No,100.75,"$51,500","$51,886","$40,194",4263,7.08,302,1463,1918

In [ ]:
url = 'https://resources.hse.gov.uk/notices/notices/notice_list.asp?PN=1&ST=N&rdoNType=&NT=&SN=F&EO=LIKE&SF=RN&SV=&SO=DNIS'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[-1]
print(df)
df.to_csv('my data.csv')

                 Notice Number                             Recipient's Name  \
0                    313044753                     Cheshire Renovations Ltd
1                    313045803            Rochester Independent College PLC
2                    313045951                        McNealy Brown Limited
3                    313045997                        McNealy Brown Limited
4                    313046883                  Middleton Memorials Limited
5                    313046972                           C S Godney Limited
6                    313048152                        Ardcrone Joinery Ltd.
7                    313052127                  Kontoor South Wales Limited
8                    313052440  Pembrokeshire Coast National Park Authority
9                    313053201                        Wood-Construction Ltd
10  Page: 1 2 3 4 5 6 7 8 9 10                   Page: 1 2 3 4 5 6 7 8 9 10

                   Notice Type                  Issue Date  \
0           Improvement Notice                  16/12/2022
1           Improvement Notice                  16/12/2022
2           Improvement Notice                  16/12/2022
3           Improvement Notice                  16/12/2022
4           Improvement Notice                  16/12/2022
5           Improvement Notice                  16/12/2022
6           Improvement Notice                  16/12/2022
7           Improvement Notice                  16/12/2022
8           Improvement Notice                  16/12/2022
9           Improvement Notice                  16/12/2022
10  Page: 1 2 3 4 5 6 7 8 9 10  Page: 1 2 3 4 5 6 7 8 9 10

                 Local Authority                   Main Activity  \
0   Cheshire West and Chester UA     CONSTRUCTION DOMESTIC BLDGS
1                Medway Towns UA     GENERAL SECONDARY EDUCATION
2                          Swale   MF METAL (PARTIAL) STRUCTURES
3                          Swale   MF METAL (PARTIAL) STRUCTURES
4                      Dundee UA          CUT/SHAPE/FINISH STONE
5              Newark & Sherwood  MANUFACTURE OF OTHER FURNITURE
6                     Falkirk UA   DEVELOPMENT BUILDING PROJECTS
7                    Bridgend UA   WOOD/CORK/STRAW/PLAITING PROD
8               Pembrokeshire UA  SAWMILLING AND PLANING OF WOOD
9                     Wandsworth       CONSTRUCTION OF BUILDINGS
10    Page: 1 2 3 4 5 6 7 8 9 10      Page: 1 2 3 4 5 6 7 8 9 10

                    Unnamed: 6                  Unnamed: 7
0                          NaN                         NaN
1                          NaN                         NaN
2                          NaN                         NaN
3                          NaN                         NaN
4                          NaN                         NaN
5                          NaN                         NaN
6                          NaN                         NaN
7                          NaN                         NaN
8                          NaN                         NaN
9                          NaN                         NaN
10  Page: 1 2 3 4 5 6 7 8 9 10  Page: 1 2 3 4 5 6 7 8 9 10

In [ ]:
print(f'Total tables: {len(df_list)}')

In [ ]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/2020_Summer_Olympics'
tables = pd.read_html(url)
print(f'Total tables: {len(tables)}')

Total tables: 19

In [ ]:
tables = pd.read_html("https://en.wikipedia.org/wiki/2020_Summer_Olympics")
print(f'Total tables: {len(tables)}')

Total tables: 19

In [ ]:
tables[0]

,0,1
0,Emblem of the 2020 Summer Olympics[a],Emblem of the 2020 Summer Olympics[a]
1,Host city,"Tokyo, Japan"
2,Motto,United by Emotion[b]
3,Nations,206 (including EOR and ROC teams)
4,Athletes,"11,420[2]"
5,Events,339 in 33 sports (50 disciplines)
6,Opening,23 July 2021
7,Closing,8 August 2021
8,Opened by,Emperor Naruhito
9,Cauldron,Naomi Osaka
10,Stadium,Japan National Stadium (known as Olympic Stadi...
11,Summer← Rio 2016Paris 2024 → Winter← PyeongCha...,Summer← Rio 2016Paris 2024 → Winter← PyeongCha...

In [ ]:
tables[2]

       City    Team  Round 1 Runoff Round 2
0     Tokyo   Japan       42      —      60
1  Istanbul  Turkey       26     49      36
2    Madrid   Spain       26     45       —

In [ ]:
tables[6]

    Ranking                    NOC  Athletes
0         1          United States       613
1         2           Japan (Host)       556
2         3              Australia       478
3         4                Germany       425
4         5                  China       406
..      ...                    ...       ...
202     203                Somalia         2
203     204  Saint Kitts and Nevis         2
204     205            South Sudan         2
205     206                 Tuvalu         2
206   Total                  Total     11483

[207 rows x 3 columns]

In [ ]:
tables[7]

                   Rank                  NOC  Gold  Silver  Bronze  Total
0                     1        United States    39      41      33    113
1                     2                China    38      32      19     89
2                     3               Japan*    27      14      17     58
3                     4        Great Britain    22      20      22     64
4                     5                  ROC    20      28      23     71
5                     6            Australia    17       7      22     46
6                     7          Netherlands    10      12      14     36
7                     8               France    10      12      11     33
8                     9              Germany    10      11      16     37
9                    10                Italy    10      10      20     40
10                11–93            Remaining   137     151     205    493
11  Totals (93 entries)  Totals (93 entries)   340     338     402   1080

In [ ]:
url = 'https://en.wikipedia.org/wiki/2020_Summer_Olympics'

medal_table = pd.read_html(url, match='2020 Summer Olympics medal table')
medal_table
df = medal_table[0]

In [ ]:
type(medal_table)

list

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df = medal_table[0]
df.to_csv('medal_table.csv')

In [ ]:
medal_table = pd.read_html("https://en.wikipedia.org/wiki/2020_Summer_Olympics", match= '2020 Summer Olympics medal table')
medal_table

In [ ]:
table_side_samary_box = pd.read_html("https://en.wikipedia.org/wiki/2020_Summer_Olympics", match= 'Games of the XXXII Olympiad')
table_side_samary_box

[                                                    0  \
 0               Emblem of the 2020 Summer Olympics[a]
 1                                           Host city
 2                                               Motto
 3                                             Nations
 4                                            Athletes
 5                                              Events
 6                                             Opening
 7                                             Closing
 8                                           Opened by
 9                                            Cauldron
 10                                            Stadium
 11  Summer← Rio 2016Paris 2024 → Winter← PyeongCha...

                                                     1
 0               Emblem of the 2020 Summer Olympics[a]
 1                                        Tokyo, Japan
 2                                United by Emotion[b]
 3                   206 (including EOR and ROC teams)
 4                                           11,420[2]
 5                   339 in 33 sports (50 disciplines)
 6                                        23 July 2021
 7                                       8 August 2021
 8                                    Emperor Naruhito
 9                                         Naomi Osaka
 10  Japan National Stadium (known as Olympic Stadi...
 11  Summer← Rio 2016Paris 2024 → Winter← PyeongCha...  ]