In [19]:
import pandas as pd
import numpy as np

## df.iterrows()

In [3]:
#creating a sample dataframe

df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})

df

   c1   c2
0  10  100
1  11  110
2  12  120

In [4]:
# Now I want to iterate over the rows of this frame. 
# For every row I want to be able to access its elements 
# (values in cells) by the name of the columns. 

for index, row in df.iterrows():
    print(row['c1'], row['c2'])

10 100
11 110
12 120

In [5]:
for index, row in df.iterrows():
    print(row['c1'])

10
11
12

In [21]:
#creating a sample dataframe with rose data

df = pd.DataFrame({'Name': ['NYE BEVAN', "EUSTACIA VYE", 'GABRIEL OAK', 'EMILY BRONTE', 'SILAS MARNER', 'DESDEMONA', 'BOSCOBEL'], 
                   'Flower Color': ['white', np.nan, 'pink', np.nan, np.nan, 'white', 'pink'], 
                   'Rose bloom color': ['White And White Blend','Pink Blend', 'Red Blend', 'Light Pink Blend', np.nan, np.nan,np.nan]})


df

           Name Flower Color       Rose bloom color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE          NaN             Pink Blend
2   GABRIEL OAK         pink              Red Blend
3  EMILY BRONTE          NaN       Light Pink Blend
4  SILAS MARNER          NaN                    NaN
5     DESDEMONA        white                    NaN
6      BOSCOBEL         pink                    NaN

In [23]:
for i, row in df.iterrows():
    if (pd.notnull(row['Rose bloom color'])):
        print(row['Name'])

NYE BEVAN
EUSTACIA VYE
GABRIEL OAK
EMILY BRONTE

In [24]:
# Here the problem is that Flower Color for EUSTACIA VYE and EMILY BRONTE is unknown 
# If we only need to update one cell we can do this directly
# In this exsample we are assuming that we have a much bigger df 
# and that this issue is also present in other rows and so we need to update using a rule

for i, row in df.iterrows():
    if (pd.notnull(row['Rose bloom color'])):
            color = row['Rose bloom color']
            if color == 'Pink Blend':
                df.at[i, 'Flower Color'] = 'pink'
            elif color == 'Light Pink Blend':
                df.at[i, 'Flower Color'] = 'light pink'           
df

           Name Flower Color       Rose bloom color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE         pink             Pink Blend
2   GABRIEL OAK         pink              Red Blend
3  EMILY BRONTE   light pink       Light Pink Blend
4  SILAS MARNER          NaN                    NaN
5     DESDEMONA        white                    NaN
6      BOSCOBEL         pink                    NaN

In [25]:
# populating nan values in column 'Rose bloom color'

for i, row in df.iterrows():
    if (pd.notnull(row['Flower Color'])):
            color = row['Flower Color']
            if color == 'white':
                df.at[i, 'Rose bloom color'] = 'White And White Blend'
            elif color == 'pink':
                df.at[i, 'Rose bloom color'] = 'Pink Blend'           
df

           Name Flower Color       Rose bloom color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE         pink             Pink Blend
2   GABRIEL OAK         pink             Pink Blend
3  EMILY BRONTE   light pink       Light Pink Blend
4  SILAS MARNER          NaN                    NaN
5     DESDEMONA        white  White And White Blend
6      BOSCOBEL         pink             Pink Blend

In [41]:
#creating a sample dataframe with rose data

df = pd.DataFrame({'Name': ['NYE BEVAN', "EUSTACIA VYE", 'GABRIEL OAK', 'EMILY BRONTE', 'SILAS MARNER', 'DESDEMONA', 'BOSCOBEL'], 
                   'Flower_Color': ['white', np.nan, 'pink', np.nan, np.nan, 'white', 'pink'], 
                   'Rose_bloom_color': ['White And White Blend','Pink Blend', 'Red Blend', 'Light Pink Blend', np.nan, np.nan,np.nan]})


df

           Name Flower_Color       Rose_bloom_color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE          NaN             Pink Blend
2   GABRIEL OAK         pink              Red Blend
3  EMILY BRONTE          NaN       Light Pink Blend
4  SILAS MARNER          NaN                    NaN
5     DESDEMONA        white                    NaN
6      BOSCOBEL         pink                    NaN

In [43]:
# keep in mind `row` is a named tuple and cannot be edited
for line, row in enumerate(df.itertuples(index = True, name ='Pandas'), 0): 
    if (pd.notnull(row.Flower_Color)):
           # print(row.Flower_Color)
           # print(line)
            if row.Flower_Color == 'white':
                df.at[line, 'Rose_bloom_color'] = 'White And White Blend'
            elif row.Flower_Color == 'pink':
                df.at[line, 'Rose_bloom_color'] = 'Pink Blend'
    elif (pd.notnull(row.Rose_bloom_color)):
            print(row.Rose_bloom_color)
            print(line)
            if row.Rose_bloom_color == 'Pink Blend':
                df.at[line, 'Flower_Color'] = 'pink'
            elif row.Rose_bloom_color == 'Light Pink Blend':
                df.at[line, 'Flower_Color'] = 'light pink'
                
df

white
0
Pink Blend
1
pink
2
Light Pink Blend
3
white
5
pink
6

           Name Flower_Color       Rose_bloom_color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE         pink             Pink Blend
2   GABRIEL OAK         pink             Pink Blend
3  EMILY BRONTE   light pink       Light Pink Blend
4  SILAS MARNER          NaN                    NaN
5     DESDEMONA        white  White And White Blend
6      BOSCOBEL         pink             Pink Blend