In [1]:
import pandas as pd

In [3]:
#creating a sample dataframe

df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})

df

   c1   c2
0  10  100
1  11  110
2  12  120

In [4]:
# Now I want to iterate over the rows of this frame. 
# For every row I want to be able to access its elements 
# (values in cells) by the name of the columns. 

for index, row in df.iterrows():
    print(row['c1'], row['c2'])

10 100
11 110
12 120

In [5]:
for index, row in df.iterrows():
    print(row['c1'])

10
11
12

In [8]:
#creating a sample dataframe with rose data

df = pd.DataFrame({'Name': ['NYE BEVAN', "EUSTACIA VYE", 'GABRIEL OAK', 'EMILY BRONTE'], 
                   'Flower Color': ['white', '', 'pink', ''], 
                   'Rose bloom color': ['White And White Blend','Pink Blend', 'Red Blend', 'Light Pink Blend']})

df

           Name Flower Color       Rose bloom color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE                          Pink Blend
2   GABRIEL OAK         pink              Red Blend
3  EMILY BRONTE                    Light Pink Blend

In [13]:
# Here the problem is that Flower Color for EUSTACIA VYE and EMILY BRONTE is unknown 
# If we only need to update one cell we can do this directly
# In this exsample we are assuming that we have a much bigger df 
# and that this issue is also present in other rows and so we need to update using a rule

for i, row in df.iterrows():
    if (pd.notnull(row['Rose bloom color'])):
            color = row['Rose bloom color']
            # print(color)
            if color == 'Pink Blend':
                df.at[i, 'Flower Color'] = 'pink'
            elif color == 'Light Pink Blend':
                df.at[i, 'Flower Color'] = 'light pink'           
df

           Name Flower Color       Rose bloom color
0     NYE BEVAN        white  White And White Blend
1  EUSTACIA VYE         pink             Pink Blend
2   GABRIEL OAK         pink              Red Blend
3  EMILY BRONTE   light pink       Light Pink Blend